<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w">
            <div class="text-2xl font-bold mb-2">Dashboard</div>
            <div class="flex justify-evenly mb-4">
                <mat-card class="h-24 !important mr-4 w-120 bg-blue-500">
                    <mat-card-actions align="end">
                        <mat-card-header>
                            <mat-card-title class="text-white">167</mat-card-title>
                            <mat-card-subtitle class="text-white">Total Number of Bus Companies</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card-actions>
                </mat-card>

                <mat-card class="w-120 bg-red-500">
                    <mat-card-actions align="end">
                        <mat-card-header>
                            <mat-card-title class="text-white">151</mat-card-title>
                            <mat-card-subtitle class="text-white">Total Number of Registered Users</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div class="flex justify-evenly">
                <mat-card class="h-24 !important w-120 mr-4 bg-cyan-500">
                    <mat-card-actions align="end">
                        <mat-card-header>
                            <mat-card-title class="text-white">8</mat-card-title>
                            <mat-card-subtitle class="text-white">Total Number of Completed Trips</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="w-120 bg-purple-600">
                    <mat-card-actions align="end">
                        <mat-card-header>
                            <mat-card-title class="text-white">523086</mat-card-title>
                            <mat-card-subtitle class="text-white">Total Revenue</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>
